<a href="https://colab.research.google.com/github/Regina00at/2020-01-20191068-JinaKim-Machine-Learning-Programming/blob/master/lesson4_tabular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + 'fastai-v3/'
#google drive mount

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

# Tabular models

In [0]:
from fastai.tabular import *
#import tabular fastai library

Tabular data should be in a Pandas `DataFrame`.

In [3]:
path = untar_data(URLs.ADULT_SAMPLE)
#download adult sample data
df = pd.read_csv(path/'adult.csv')
#read adult.csv using pandas library

Downloading http://files.fast.ai/data/examples/adult_sample

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

#classify the label from the csv file

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

"""
data = (TabularList.from_df((data from the adult.csv), (from the URLs.ADULT_SAMPLE), cat_names=cat_names[7items], cont_names=cont_names[3items], procs=procs[3items])
                           .split_by_idx(list(range(800,1000))) : bring 200 data
                           .label_from_df(cols=dep_var) : bring the label of salary from adult.csv
                           .add_test(test)
                           .databunch())
set the databunch
"""

In [7]:
data.show_batch(rows=10)
#show 10 rows

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [9]:
learn.fit(1, 1e-2)
#train the model once

## Inference

In [0]:
row = df.iloc[0] 
#get data of line number 0

In [11]:
learn.predict(row)
#method of fastai.basic_train.Learner instance
#predict the number 0 line data using the trained model
#return the predicted class

(Category >=50k, tensor(1), tensor([0.4596, 0.5404]))